*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.topbar
{
   position: fixed;
   background: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.159);
   width: 100%;
   padding: 0 20px;
   display: grid;
   grid-template-columns: 2fr 10fr 0.4fr 0.4fr 0.4fr;
   align-items: center;
   z-index: 1;
   height: 60px;
   margin-bottom: 10px;

}

.search
{
    position: relative;
    width: 60%  ;
    justify-self: center;
}
.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.077) ;
    background-color: rgba(176, 176, 176, 0.167);
}
.search i
{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

}

.user
{
    position: relative;
    width: 50px;
    height: 50px;
}
.toggle
{
    max-width: 30%;
}

.sidebar
{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background-color: black;
    
}
.sidebar ul
{
    margin-top: 20px;
    
}
.sidebar ul li
{
    width: 100%;
    list-style: none;
}
.sidebar ul li:hover
{
    background-color: white;

}
.sidebar ul li a
{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover
{
    color: black;
}
.sidebar ul li a i
{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.sidebar ul li a i:hover
{
    color: black;
}
.main1 {
    display: flex;
    padding: 20px;
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    background-color:#f5f5f56e ;
    
}


.cards {
    
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    justify-content: center;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.063);
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin-right: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.card-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}


.help
{
    margin-top: 340px;
}


@media (max-width:1115px)
{
    .sidebar{
        width: 60px;
    }
    .main 
    {
        left: 60px;
        width: calc(100% - 60px);
    }
    .doughnut-chart
    {
        padding: 10px;
    }
}
@media(max-width:880px)
{
    .cards
    {
         grid-template-columns: repeat(2, 1fr);
    }
    .charts
{
   
    grid-template-columns: 1fr ;
   
       
}
.doughnut-chart
{
     padding: 50px;
}
.doughnut
{
    padding: 50px;
}
}
@media(max-width:500px)
{
    .topbar
    {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .cards
    {
         grid-template-columns: 1fr;
    }
    .logo h2 
    {
        font-size: 20px;
    }
    .search{
        width: 80px;

    }
    .search input 
    {
        padding: 0 20px;
    }
    .fa-bell
    {
        margin-right: 5px;
    }
    .user
    {
        width: 40px;
        height: 40px;
    }
    .doughnut-chart
    {
        padding: 5px;
    }
    .doughnut
    {
        padding: 0;
    }
}
